@tailwind base;
@tailwind components;
@tailwind utilities;

.lead-title {
  @apply text-gray-800;
}

.main-header {
  @apply mx-auto;
  @apply flex;
  @apply justify-between;
  @apply items-center;
  @apply cursor-pointer;
  @apply px-10;
}

.header-link {
  @apply relative;
  @apply top-0;
  @apply right-0;
  @apply py-3;
}

.header-icon {
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply text-pink-500;
  @apply text-xs;
}

.btn-primary {
  @apply bg-green-500;
  @apply text-white;
  @apply w-40;
  @apply uppercase;
  @apply rounded-full;
  @apply px-4;
  @apply py-1;
  @apply mb-4;
  @apply h-8;
  @apply mx-auto;
  @apply border;
}
