.active {
  color: #fa824c;
  border-bottom: #69d391;
  cursor: pointer;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  margin: 0 auto;
  padding: 0.5rem 2rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
